@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 700;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
}

.main h1{
    color: white;
}
input{
    padding: 20px;
    border-radius: 25px;
}
form{
    background-image: url(/img/Textura.jpg);
    border-radius: 10px;
    padding: 10px;
}
.c{
    display: flex;

    justify-content: end;
    padding-right: 1px;
    height: 50px;

}

.ora{
    padding: 20px 21px;
}
.button-c input{
    height: 50px;
    width: 100%;
    padding: 15px 18px;
}
form input .text{
    background-color: aqua;
}
.resultado{
    background-color: #fff;
    padding-right: -25px;
    margin-bottom: 10px;
    width: 200px;
    font-size: 20px;
}